/* Corpo della pagina */
body {
  margin: 0;
  padding: 0;
  background-color: #16dfaa; /* Verde di sfondo */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altezza piena */
  overflow: hidden;
}

/* Sfondo della griglia */
#grid {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #16dfaa, #0a754d); /* Sfondo sfumato */
  z-index: -1;
}

/* Contenitore centrale */
.k-hold {
  position: relative;
  width: 354px;
  height: 354px;
  cursor: pointer;
}

/* Contorno */
.k-black {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.k-black__stroke {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateZ(0);
}

.k-black__stroke svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Poligono */
.k-stroke {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Pulsante */
.k-enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 50px;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}